@charset "UTF-8";


/*********************Text Styles***********************/
h1 {
    font-family: 'Julius Sans One';
    font-size: 7vw;
    margin-left: 3%;

  }

h2 {
    font-size: 22px;
    font-weight: 100;
    color: #67422c;
    font-style: italic;
    text-indent: 2%;
}
h3 {
    font-size: 25px;
    font-family: 'Julius Sans One';
    font-weight: bold;
    text-indent: 4%;
}

body {
    background-color: #f7ede4;
  }

/* *********************Accordion******************************* */
.accordion {
    font-family: 'Montserrat';font-size: 22px;
    margin-left: 3%;
    background-color: #e0d6d1;
    color: #946448;
    cursor: pointer;
    padding: 18px;
    width: 80%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
  }
  
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .active, .accordion:hover {
    background-color: #c7bcb7;
  }
  
  /* Style the accordion panel. Note: hidden by default */
  .panel {
    font-family: 'Montserrat';
    font-size: 20px;
    padding: 0 18px;
    max-height: 0;
    margin-left: 5%;
    max-width: 72%;/*1000px;*/
    width: 78%;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    overflow-y: auto;
  }

  .accordion:before {
    content: ' \25C7';
    color: black;
    padding: 15px;
  }

  .active:before {
    content: ' \25C7';
    color: black;
    padding: 3px;
  }

  .accordion:after {
    content: '\002B'; /* Unicode character for "plus" sign (+) */
    font-size: 22px;
    color: #777;
    float: right;
    margin-left: 3%;

  }
  
  .active:after {
    content: "\002D"; /* Unicode character for "minus" sign (-) */
    font-size: 22px;
  }

/************************Buttons*************************/

.button-52 {
  font-size: 16px;
  font-weight: 200;
  letter-spacing: 1px;
  padding: 13px 20px 13px;
  outline: 0;
  border: 1px solid black;
  cursor: pointer;
  position: relative;
  background-color: rgba(0, 0, 0, 0);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin: 10px;
}

.button-52:after {
  content: "";
  background-color: #d8a488;
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 7px;
  left: 7px;
  transition: 0.2s;
}

.button-52:hover:after {
  top: 0px;
  left: 0px;
}

@media (min-width: 768px) {
  .button-52 {
    padding: 13px 50px 13px;
  }
}

/******/

.button-52a {
    font-size: 16px;
    font-weight: 200;
    letter-spacing: 1px;
    padding: 13px 20px 13px;
    outline: 0;
    border: 1px solid black;
    cursor: pointer;
    position: relative;
    background-color: rgba(0, 0, 0, 0);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    margin: 10px;
  }
  
.button-52a:after {
  content: "";
  background-color: #dcb8a5;
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 7px;
  left: 7px;
  transition: 0.2s;
}

.button-52a:hover:after {
  top: 0px;
  left: 0px;
}

@media (min-width: 768px) {
  .button-52a {
    padding: 13px 50px 13px;
  }
}
/*** Rounded button for contact***/

.button-74 {
  background-color: #fbeee0;
  border: 2px solid #422800;
  border-radius: 30px;
  box-shadow: #422800 4px 4px 0 0;
  color: #422800;
  cursor: pointer;
  display: inline-block;
  display: inline;
  font-weight: 600;
  font-size: 18px;
  padding: 0 18px;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin: 20px;
}

.button-74:hover {
  background-color: #dcccba;
}

.button-74:active {
  box-shadow: #422800 2px 2px 0 0;
  transform: translate(2px, 2px);
}

@media (min-width: 768px) {
  .button-74 {
    min-width: 120px;
    padding: 0 25px;
  }
}


/*******************Bullet Points***************************/

.points {
    -webkit-columns: 3 200px;
    -moz-columns: 3 200px;
    columns: 3 200px;
    -webkit-column-gap: 3em;
    -moz-column-gap: 3em;
    column-gap: 3em;
}

ul {
    list-style: none;
    padding: 0px;
    margin-top: 0px;

}


ul li:before
{
    content: "\25C6";
    margin: 0 1em;   
 
}
